body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../temple.jpg"); /* The image used */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 640px;
  z-index: -10;
}

.jumbotron
{
  opacity: 0.5;
  filter: alpha(opacity=50); 
}

#startQuiz 
{
  opacity: 1 !important;
  filter: alpha(opacity=50); 
}
